@import url(https://fonts.googleapis.com/css?family=Lato|Lobster);

.body{
	margin: 0;
	height: 100%;
	font-family: 'Lato', sans-serif;
	background-color: #edeef0;
}

#header{
	width:100%;
	height: 40px;
	background-color: #507299;
}

#sombra {
	float: left;
	height: 30px;
	width: 170px;
	margin: -3px 0px 10px 10px;
}

#sombra a{
	text-decoration: none;
	font-family: 'Lobster', cursive;
	font-size: 20px;
	text-align: center;
}

#header a{
	text-decoration: none;
	color: white;
	float: right;
	margin: 11px 20px 0px 20px;
}

#header p{
	text-decoration: none;
	color: white;
	float: left;
	margin: 11px 20px 0px 0px;
}

.container{
	width: 100%;
	height: 100%;
	background-color: #edeef0;
	float: left;
}

#containerProduct{
	margin: 0px 0px 0px 250px;
}

#filters{
	width: 200px;
	height: 100%;
	float: left;
	background-color: #b2b2b2;
	margin: 0px 10px 0px 0px;
}

#fonProduct{
	width: 260px;
	height: 300px;
	background-color: #ffffff;
	float: left;
	border: 10px, solid, black;
	margin: 10px 10px 10px 10px;
	border: 1px solid #e3e4e8;
	border-radius: 5px;
}

#fonProduct p{
	text-align: center;
}

#comparison{
	height: 20px;
	width: 95px;
	color: white;
	border: none;
	margin: 15px 5px 15px 30px;
	background-color: #5e81a8;
	font-size: 11px;
	border-radius: 3px;
}

#comparison:hover{
	border-radius: 2px;
	color: #5e81a8;
	background-color: #b2b2b2;
}

#comparison:active{
	background-color: #4CAF50;
}

#basket{
	height: 20px;
	width: 95px;
	color: white;
	border: none;
	float: right;
	margin: 15px 30px 15px 5px;
	background-color: #5e81a8;
	font-size: 11px;
	border-radius: 2px;
}

#basket:hover{
	border-radius: 2px;
	color: #5e81a8;
	background-color: #b2b2b2;
}

#basket:active{
	background-color: #4CAF50;
}

#imgProd{
	margin: 0px 30px 0px 30px;
}

#imgProd img{
	border-radius: 3px;
}

#footer{
	float: left;
	width: 100%;
	height: 100%;
	background-color: #507299;
	margin: 0 auto;
}

#login{
	background-color: #edeef0;
}

#loginForm{
	width: 600px;
	height: 550px;
	background-color: white;
	margin: 150px 650px 170px 650px;
	border-radius: 15px;
}

#loginTable{
	padding: 235px 175px 235px 175px;
}

#submitLogin{
	color: white;
	border: none;
	float: right;
	background-color: #5e81a8;
	font-size: 15px;
	border-radius: 2px;
}

#submitLogin:hover{
	border-radius: 2px;
	color: #5e81a8;
	background-color: #b2b2b2;
}

#submitLogin:active{
	background-color: #4CAF50;
}

#productContainer{
	width: 950px;
	height: 480px;
	background-color: white;
	border-radius: 15px;
	margin-left: 480px;
	margin-top: 275px;
	margin-bottom: 350px;
}

#productPic{
	padding-top: 90px;
	padding-left: 200px;
	float: left;
}

#productPic img{
	border-radius: 2px;
}

#productDimensions{
	margin-top: 60px;
	margin-right: 150px;
	float: right;
}

#productPageComparisonButton{
	height: 20px;
	width: 95px;
	color: white;
	border: none;
	background-color: #5e81a8;
	font-size: 11px;
	border-radius: 3px;
}

#productPageComparisonButton:hover{
	border-radius: 2px;
	color: #5e81a8;
	background-color: #b2b2b2;
}

#productPageComparisonButton:active{
	background-color: #4CAF50;
}

#productPageBasketButton{
	height: 20px;
	width: 95px;
	color: white;
	border: none;
	float: right;
	background-color: #5e81a8;
	font-size: 11px;
	border-radius: 2px;
}

#productPageBasketButton:hover{
	border-radius: 2px;
	color: #5e81a8;
	background-color: #b2b2b2;
}

#productPageBasketButton:active{
	background-color: #4CAF50;
}

#registrationContainer{
	width: 550px;
	height: 480px;
	background-color: white;
	border-radius: 15px;
	margin-left: 680px;
	margin-top: 275px;
	margin-bottom: 350px;
}

#registrationForm{
	padding-left: 140px;
	padding-top: 140px;
}

#registrationSubmit{
	height: 20px;
	width: 95px;
	color: white;
	border: none;
	float: right;
	background-color: #5e81a8;
	font-size: 11px;
	border-radius: 2px;
}

#registrationSubmit:hover{
	border-radius: 2px;
	color: #5e81a8;
	background-color: #b2b2b2;
}

#registrationSubmit:active{
	background-color: #4CAF50;
}

#adminPage{
	width: 950px;
	height: 100%;
	background-color: #edeef0;
}